.bgcolor {
    background-color: #FE4A49 !important;
}

.title-size {
    font-size: 1rem;
}

ion-badge {
    margin-right: 0.5rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
    padding-top: 0;
}