<ion-header>
  <ion-navbar no-padding color="danger">
      <ion-grid no-padding>
          <ion-row>
            <ion-col col-12 text-center>
              <img class="title-menu" src="assets/imgs/logo_nintendo_town.png"  width=100 alt="logo Nintendo-Town"/>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let post of posts" (click)="postTapped(post)">
      <main-image medialink={{post.featured_media}}></main-image>
      <ion-card-content>
        <ion-card-title [innerHtml]="post.title.rendered"></ion-card-title>
        <!--Trouver la balise qui va bien et faire un for dessus pour piper toutes les categories ! -->
        <ion-badge color="danger" *ngFor="let category of post.categories">{{category | categories}}</ion-badge>
      </ion-card-content>
    </ion-card>
</ion-content>
